a {
color: white ;
}

a:hover {
color: gray ;
}
a:visited {
color: rgb(230,230,230) ; 
}

body{
margin: 0px;
background: rgb(0,48,136);
color: white;
}

table {

}

img
{
border: 0px;
}


div {
}

.clNewsHead {
    border: 1px solid rgb(255,255,255);
    background : rgb(141,168,235) ; 
    
    text-decoration: none ; 
    font-family: fixedsys, serif ;
    font-size: 8pt ; 
}

.clNewsPictures {
    text-align: center ;
}

#idSite {
border-left: 1px solid rgb(255,255,255);
border-right: 1px solid rgb(255,255,255);
margin: auto ; 

width: 800px ; 
}

#idContent {
clear: both ; 
/*background: rgb(255,0,0) ;*/ 

width:100% ;
height: 100% ; 
}

#idHeader {
    height: 64px ; 
}

#idMenu {
    width: 114px; 
    float: left ; 
    background: rgb(0,255,0) ;
}

#idText {
    float: left ;
    width: 640px ; 
    padding: 5px 5px 5px 5px ; 
}

#idFooter {
    
}

#idMenuFoo {
    height: 119px ; 
}

#idMenuDark {
    background: url("img/menu.dark.gif");
    height: 100% ;
    /* border-bottom: 1px solid rgb(255,255,255); */
}

#idMenuLight { 
    background: url("img/menu.light.gif");
}

#idMenuLightDark {
    height: 18px ; 
}

tr {
margin-top: 0;
margin-bottom: 0;
}

td {
margin-top: 0;
margin-bottom: 0;
}


/*Menus*/


#idSalomonMenu {
visibility: hidden; 
position: absolute ; 
top: 300px ; 
left: 114px ;

border: 1px solid rgb(255,255,255);
background : rgb(121,138,215) ; 

}
