grant codeBase "file:/${installdir}/bin" {
  permission java.awt.AWTPermission "listenToAllAWTEvents";
  permission java.io.FilePermission "${installdir}${/}-", "read, write";
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.lang.RuntimePermission "exitVM";
  permission java.net.SocketPermission "*", "accept, connect, listen, resolve";
  permission java.sql.SQLPermission "setLog";
  permission java.util.PropertyPermission "*", "read";
  permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
  permission java.lang.RuntimePermission "loadLibrary.*";
  permission java.lang.RuntimePermission "shutdownHooks";
  permission java.lang.RuntimePermission "stopThread";
  permission java.util.logging.LoggingPermission "control";
};

grant codeBase "file:/${installdir}/plugins" {
  permission java.awt.AWTPermission "listenToAllAWTEvents";
  permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
};

